.add-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFB355;
    width: 400px;
    height: 450px;
    margin-top: 50px;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #3f414183;
    transition: all 0.5s ease;
}

.add-project-form:hover {
    border-radius: 2.5px;
    box-shadow: 3px 4px 3px #3f414183;
}

.add-project-page {
    display: flex;
    justify-content: center;
}

.create-project-title {
    margin-bottom: 10px;
}

.add-project-label {
    width: 200px;
    margin-top: 5px;
}

.new-project-submit {
    margin-top: 30px;
    height: 40px;
    width: 200px;
    color: #F5F5F5;
    background-color: #3F4141;
    outline: none;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    transition: 0.25s;
}

.new-project-submit:hover{
    color: #3F4141;
    background-color: #F5F5F5;
    outline: none;
    border: 2px solid #3F4141;
    box-shadow: 3px 3px 3px #3f414183;
  }

.new-project-submit:active{
    color: #3F4141;
    font-weight: 600;
    background-color: #F5F5F5;
    outline: none;
    border: 1px solid #3F4141;
    box-shadow: 1px 1px 1px #3f414183;
  }

#add-project-description {
    height: 100px;
}

.project-title-input,
.project-description-input,
.project-due-date-input {
    width: 200px;
    margin-left: 0px;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #3f414183;
    height: 40px;
    outline: none;
    transition: all 0.5 ease-in-out;
}

.project-title-input:focus,
.project-description-input:focus,
.project-due-date-input:focus {
    border: 1.5px solid #3F4141;
    border-radius: 2.5px;
    box-shadow: 1px 2px 1px #3f414183;
}

.project-due-date-input {
    text-align: center;
}
