.teams-display-component{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #57D4D4;
    color: #333432;
    margin-bottom: 20px;
    padding: 20px;
}

.teams-display-container{
    display: flex;
    flex-direction: row;
    overflow:scroll;
    /* box-shadow: inset 1vw 0 15px -7px #3F4141, inset -1vw 0 15px -7px #3F4141; */
}

.team-container>a{
    text-decoration: none;
}

.team-container{
    color: #3F4141;
    border: 2px solid #3F4141;
    border-radius: 5px;
    width: 10vw;
    height: 15vh;
    margin: 0.5vw;
    padding: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.5s;
}

.team-container:hover{
    color: #F5F5F5;
    border: 2.5px solid #3F4141;
    box-shadow: 3px 4px 3px #3f414183;
}

.team-container:active{
    border: 1.75px solid #3F4141;
    box-shadow: 1px 2px 1px #3f414183;
}

.team-container>h1{
    font-size: 2rem;
}
