[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gunicorn = "*"
itsdangerous = "*"
python-dotenv = "*"
six = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
Flask-JWT-Extended = "*"
email-validator = "*"
Flask-Migrate = "*"
Flask-Login = "*"
alembic = "&"
python-dateutil = "*"
python-editor = "*"
Mako = "*"
PyJWT = "*"
Jinja = "*"
python_version = "*"

[dev-packages]
psycopg2-binary = "==2.8.6"
autopep8 = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
