.add-member-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.add-member-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-member-label{
    color: #333432;
    margin-left: 5px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.new-member-submit{
    height: 40px;
    width: 180px;
    color: #F5F5F5;
    background-color: #3F4141;
    outline: none;
    border: 2px solid #3F4141;
    border-radius: 5px;
    margin-top: 2vh;
    box-shadow: 2px 3px 2px #3f414183;
    transition: all 0.25s;
}

.new-member-submit:hover{
    color: #3F4141;
    background-color: #F5F5F5;
    outline: none;
    border: 2.5px solid #3F4141;
    box-shadow: 3px 4px 3px #3f414183;
  }

.new-member-submit:active{
    font-weight: 500;
    border: 1.5px solid #3F4141;
    box-shadow: 1px 2px 1px #3f414183;
  }

.new-member-input{
    height: 40px;
    width: 180px;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #3f414183;
    outline: none;
    transition: all 0.5s ease-out;
}

.new-member-input:focus{
    border: 1.5px solid #3F4141;
    border-radius: 2.5px;
    box-shadow: 1px 2px 1px #3f414183;
}