.add-member-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px
}

.add-member-container{
    color: #333432;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.add-member-label{
    color: #333432;
    margin-left: 5px;
    text-align: center;
}

.new-member-submit{
    background-color: #eff6fb;
    margin-left: 10px;
    margin-top: 10px;
}

.new-member-input{
    margin-left: 10px;
    height: 40px;
}
