.projects-display-component{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #feb66a;
    color: #333432;
    padding: 1vw;
    margin-top: 5vh;
}

.projects-display-container{
    display: flex;
    flex-direction: row;
    overflow:scroll;
}

.project-container{
    color: #3F4141;
    border: 2px solid #3F4141;
    border-radius: 5px;
    width: 10vw;
    height: 15vh;
    margin: 0.5vw;
    padding: 5px;
    box-shadow: 2px 3px 2px #3f414183;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s;
}

.project-container:hover{
    color: #F5F5F5;
    border: 2.5px solid #3F4141;
    box-shadow: 3px 4px 3px #3f414183;
}

.project-container:active{
    border: 1.75px solid #3F4141;
    box-shadow: 1px 2px 1px #3f414183;
}

.project-container>h2{
    font-size: 1.5rem;
    font-weight: 600;
}
