.projects-display-component{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #FFB355;
    color: #333432;
    margin-bottom: 20px;
    padding: 20px;
}

.projects-display-container{
    display: flex;
    flex-direction: row;
    overflow:scroll;
}

.project-container{
    color: #3F4141;
    border: 2px solid #3F4141;
    border-radius: 5px;
    width: 10vw;
    height: 15vh;
    margin: 0.5vw;
    padding: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}

.project-container:hover{
    color: #F5F5F5;
    border: 2.5px solid #3F4141;
    border-radius: 5px;
    width: 10vw;
    height: 15vh;
    margin: 0.5vw;
    padding: 5px;
    box-shadow: 3px 3px 3px #3f414183;
    text-decoration: none;
}

.project-container>h3{
    text-decoration: none;
}
