.projects-display-component{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #FFB355;
    color: #333432;
    padding: 20px;
    margin-top: 20px;
}

.projects-display-container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.project-container{
    border: 2px solid black;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    color: #f4633e;
}
