/* #single-class-page{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.single-task-container{
    border: 1px solid #3F4141;
    border-radius: 5px;
    padding: 2vw;
    display: flex;
    background-color: #feb66a;
}

#single-task-name{
    font-size: 1.5rem;
}

#single-task-body{
    font-size: 1rem;
}

#single-task-date{
    font-size: 0.75rem;
}
