.team-dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.team-dashboard-container>div{
    margin-left: 3vw;
    margin-right: 10vw;
}

.team-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3F4141;
    text-shadow: 1px 1px 1px #3f414185;
}

.team-delete-button {
    height: 40px;
    color: #3F4141;
    background-color: #E74E3D;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #3f414183;
    transition: all 0.5s;
}

.team-delete-button:hover {
    color: #E74E3D;
    background-color: #3F4141;
    box-shadow: 3px 4px 3px #3f414183;
}

.team-delete-button:active {
    font-weight: 500;
    color: #E74E3D;
    background-color: #3F4141;
    box-shadow: 1px 1px 1px #3f414183;
}

#add-delete-team{
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    margin: 5px;
    padding: 15px;
    width: 200px;
    background-color: #57D4D4;
    color: #3F4141;
    display: flex;
    flex-direction: column;
    align-items: center;
}
