.team-dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

/* .projects-display-component{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #FFB355;
    color: #3F4141;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #3F4141;
    border-radius: 5px;
}

.projects-display-container{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.project-container{
    border: 2px solid #3F4141;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    margin-right: 10px;
    padding: 5px;
    color: #3F4141;
    font-size: .7em;
} */

.team-name-plus-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #57D4D4;
}

.team-delete-button {
    height: 40px;
    background-color: #E74E3D;
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    color: #3F4141;
}
