.footer-container {
    background-Color: #333432;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
};

.dropup{
    padding-left: 1em;
}