.team-members-container{
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
    margin: 5px;
    padding: 15px;
    width: 200px;
    background-color: #57D4D4;
    color: #3F4141;
}

#member-title {
    margin-bottom: 15px;
}
