div#signupFormPage {
  display: flexbox;
  position: relative;
  margin-left: 40vw;
}

.signup-title {
  color: #3396ff;
  place-self: left;
  margin-right: 32vw;
}

.signupFormPage {
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  place-self: center;
  font-family: system-ui;
  margin-left: 37vw;
  }


.signup-inputs {
  margin-top: 10vh;
  margin-right: 120px;
  height: 500px;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #FEF0EC;
  background-color: #3396ff;
  color: #FEF0EC;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px #c95838;
  border-radius: 6px;

}

.signup-btn {
  border-radius: 2px;
  background-color: #eff0ec;
  color: #3396ff;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  box-shadow: 0 0 4 px #FEF0EC;
  cursor: progress;
  font-weight: 700;
  /* margin-left: 75px; */
  justify-self: center;
  border-radius: 8px;
}

.the-in {
  margin-right: 10px;
  align-self: end;
  color: #FEF0EC;
  background-color: #FEF0EC;
  border-radius: 6px;
}
.email-in {
  color: #FEF0EC;
  /* padding: 1vw; */
  /* padding-top: 1vw; */
}

.username-input {
  color: #FEF0EC;
  padding: 2px;
  justify-content: space-around;
  /* padding-top: 1vw; */
}

.password-in {
  color: #FEF0EC;
  padding: 2px;
  /* padding-top: 1vw; */
}


.rpt-password-in {
  color: #FEF0EC;
  padding: 2px;
  /* padding-top: 1vw; */
}
