.signupFormPage{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-inputs{
  border: 2px solid #3F4141;
  border-radius: 5px;
  height: 67vh;
  width: 25vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  box-shadow: 2px 2px 2px #3f414183;
  transition: all 0.5s;
}

.signup-inputs:hover{
  border-radius: 2.5px;
  box-shadow: 3px 4px 3px #3f414183;
}

.signupInputandLabel{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5vh;
}

.signupInputandLabel>label{
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1vh;
}

.signupInputandLabel>input{
    outline: none;
  color: #3F4141;
  border: 2px solid #3F4141;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #3f414183;
  transition: all 0.25s;
}

.signupInputandLabel>input:focus{
  border: 1px solid #3F4141;
  border-radius: 2.5px;
  box-shadow: 1px 1px 1px #3f414183;
}

.signup-inputs>button{
  color: #F5F5F5;
  background-color: #3F4141;
  outline: none;
  border: 2px solid #3F4141;
  border-radius: 5px;
  margin-top: 2vh;
  box-shadow: 2px 2px 2px #3f414183;
    transition: all 0.25s;
}

.signup-inputs>button:hover{
  color: #3F4141;
  background-color: #F5F5F5;
  outline: none;
  border: 2px solid #3F4141;
  box-shadow: 3px 3px 3px #3f414183;
}

.signup-inputs>button:active{
  color: #3F4141;
  font-weight: 600;
  background-color: #F5F5F5;
  outline: none;
  border: 1px solid #3F4141;
  box-shadow: 1px 1px 1px #3f414183;
}
