.user-dashboard-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: flex-start;
}

.team-projects-container{
    margin-left: 10vw;
}

.dashboard-title{
    text-align: center;
}

.user-info-inner-container {
    max-width: 15vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 2px solid #3F4141;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px #3f414183;
    overflow: hidden;
}

.user-avatar {
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #3F4141;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px #3f414183;
}

.user-details{
    font-size: 20px;
    margin-top: 5px
}

#user-info-name {
    font-weight: bold;
}

.teams-display-component{
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
}
.projects-display-component{
    border: 2px solid #3F4141;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #3f414183;
}
