.user-dashboard-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
}

.dashboard-title{
    text-align: center;
}

.user-info-inner-container {
    border: 2px solid #3F4141;
    border-radius: 5px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.user-details{
    font-size: 20px;
    margin-top: 5px
}

#user-info-name {
    font-weight: bold;
}
