.form-container {
  display: flex;
  align-items: center;
}

.comment-space {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  height: 50px;
}

h5 {
  padding-right: 4vw;
  padding-top: 1.91vh;
}

.add-comment-btn {
  border-radius: 10px;
}
