.board-container {
  width: 800px;
  height: 310px;
  border: 2px solid #3F4141;
  border-radius: 5px;
  margin-top: 3vh;
  background-color: #F5F5F5;
  box-shadow: 0px 3px 2px #3f414183;
}

.mb-title {
  position: static;
  padding-left: 2vw;
  padding-top: 3vh;
  font-size: 2rem;
}

#add-comment{
  margin-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  align-items: center;
}

#internal-comment-div{
  height: 300px;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 175px;
  overflow: scroll;
}

.comment-container {
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 1.5px solid #3F4141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comment-body{
  color: #3F4141;
  background-color: #57D4D4;
  border-radius: 5px;
  width: 40vw;
  max-width: 550px;
  height: 5vh;
  padding-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 3px 2px #3f414183;
  overflow-x: scroll;
  border: 1px solid #3F4141;
  font-size: 0.75rem;
  font-weight: 600;
}

#comment-body:hover{
  cursor: default;
  color: #F5F5F5;
  background-color: #57D4D4;
  border: 2px solid #3F4141;
  box-shadow: 3px 4px 3px #3f414183;
}

#post-credit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comment-username{
  font-size: 0.75rem;
  font-weight: 500;
}

#comment-created{
  font-size: 0.65rem;
  font-weight: 400;
  padding-left: 1vw;
}