.splash-title {
  text-align : center;
color : #333432;

}

.splash-blurb {
  text-align: center;
  color: #3396FF;
}

.splash-image {
  display: flex-box;
  height: 275px;
  border-width: solid 3px #F4633E;
}